<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="Mode" value="prod"/>
    <add key="DebugStep" value=""/>
    <add key="Version" value="1.1.1"/>
    <add key="LastUpdated" value="3/24/2022"/>
    <add key="VPNURL" value="anyconnect.pfizer.com"/>
    <add key="InternalURL" value="home.pfizer.com"/>
    <add key="NSecURL" value="https://ug6ydm8q0h.execute-api.us-east-1.amazonaws.com/Release"/>
  </appSettings>
</configuration>
